@tailwind base;
@tailwind components;
@tailwind utilities;

nav a ,.mobileNavbar a{
  color: white;
  text-decoration: none;
  margin-right: 20px; 
  font-weight: bold;
}
nav a:hover {
  color: rgb(237, 208, 208);
}

.mobileNavbar a{
  color: white;
  font-size: large;
  font-weight: bold;
}

nav a.active {
  border-bottom: 3px solid white; 
}
.mobileNavbar a.active {
  border-bottom: 3px solid white; 
}



::-webkit-scrollbar {
  width: 0; 
}

